.cartItemsWrapper{
  width: 90% !important;
}

.smallText {
  font-size: 12px;
}

.cartHeader {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0.3rem !important;
}

.itemCard {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 0.625rem;
  padding:1rem;
  padding-right: 2rem;
  width: 100%;

  background-color: white;
  box-shadow: 0px 0px 2.4px -10px rgba(0, 0, 0, 0.011),
    0px 0px 5.7px -10px rgba(0, 0, 0, 0.016),
    0px 0px 10.8px -10px rgba(0, 0, 0, 0.02),
    0px 0px 19.2px -10px rgba(0, 0, 0, 0.024),
    0px 0px 35.9px -10px rgba(0, 0, 0, 0.029),
    0px 0px 86px -10px rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
}

.itemCard > * {
  margin-block: auto;
}

.itemCard p {
  margin: 0px;
}

.itemCard > img {
  width: 60px;
  height: 60px;
}

.itemCardInfo {
  text-align: start;
}

.itemCardInfo > :first-child {
  font-weight: bold;
}

.itemCardInfo{
font-size: 0.8rem;
}

.sumItemCard {
  margin-left: auto;
}

.sumItemCard > p {
  margin-block: 5px;
}

.sumItemCard > button {
  padding: 2px;
  border-radius: 1rem;
  width: 1.8rem;
  height: fit-content;
  background-color: #94dcdf;
  color: #0c4648;
}

.sumItemCard > :nth-child(3) {
  transform: rotate(180deg);
}

.sumItemCard > button:active {
  background-color: #0c4648;
  color: #94dcdf;
}

.eraseProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  background-color: rgb(255, 139, 177);
  border-radius: 100rem;

  height: 2.1rem;
  width: 2rem;
  color: white;

  position: absolute;
  right: -1rem;
  top: 35%;

  box-shadow: 0px 1.4px 2.4px rgba(0, 0, 0, 0.011),
    0px 3.3px 5.7px rgba(0, 0, 0, 0.016), 0px 6.3px 10.8px rgba(0, 0, 0, 0.02),
    0px 11.2px 19.2px rgba(0, 0, 0, 0.024),
    0px 20.9px 35.9px rgba(0, 0, 0, 0.029), 0px 50px 86px rgba(0, 0, 0, 0.04);
}

.eraseProduct:active {
  background-color: rgb(165, 62, 96);
}

.emptyCart{
padding: 1rem;
}

.emptyCart button{
  color: white;
}

.sumTable {
  width: 100%;
  text-align: right;
  padding-inline: 3rem;
  padding-bottom: 1rem;
  background-color: white;
}

.sumTable > :first-child{
  font-weight: bolder;
}

.sumTable ul > :last-child {
  font-weight: bolder;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid black;
}

.bi-cart2 {
  font-size: 1.7em;
}

.bajs {
  position: relative;
}

.itemAmountInCart {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.31);

  height: 18px;
  width: 18px;

  top: 0;
  left: 15px;

  border-radius: 1rem;

  color: var(--pink);
  font-size: 12px;
}

.itemAmountInCart > * {
  margin: 0px;
}

@media (min-width: 768px) {
  .cartItemsWrapper{
    width: 100%;
  }
}

@media (min-width: 992px) {
  #cartItemsWrapper {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  #cartItemsWrapper {
    width: 40%;
  }
}
